# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled bytecode of Python source files
*.pyc
python/__init__.py

# Executables
*.exe
*.out
*.app

# ROOT
*.root

# vim
*.sw*

# docs
docs/out/

# db
*.db
